<div class="product">
  <div class="discount-badge">- {{ productDetails.discountPercentage }}%</div>
  <div class="product-img">
    <img [src]="productDetails.thumbnail" [alt]="productDetails.title" />
  </div>
  <div class="product-info">
    <h4 class="name">{{ productDetails.title | cutLongString: 19 }}</h4>
    <p class="details">
      {{ productDetails.description | cutLongString: 50 }}
    </p>
    <div class="price">
      <p class="old">{{ productDetails.price | ToFloor }} USD</p>
      <p class="new">
        {{
          productDetails.price -
            productDetails.price / productDetails.discountPercentage | ToFloor
        }}
        USD
      </p>
    </div>
    <p class="details-item">
      <span class="title">Brand:</span>
      <span class="value">{{ productDetails.brand | cutLongString: 20 }}</span>
    </p>
    <p class="details-item">
      <span class="title">Category:</span>
      <span class="value">{{ productDetails.category }}</span>
    </p>
    <p class="details-item">
      <span class="title">In stock:</span>
      <span class="value">{{ productDetails.stock }}</span>
    </p>

    <div class="rate">
      <img src="assets/icons/star.png" alt="icon" />
      <span class="value">{{ productDetails.rating }}</span>
      <span class="users">(11)</span>
    </div>

    <button
      class="add-btn"
      type="button"
      (click)="addToCart(productDetails.id)"
    >
      Add To Cart
    </button>
  </div>
</div>
