<div class="product">
  <div class="product-img">
    <img src="assets/images/Logomark.png" alt="product image">
  </div>
  <div class="product-info">
    <h4 class="name">name</h4>
    <p class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <div class="price">
      <p class="old-price">500</p>
      <p class="new-price">400</p>
    </div>
    <p class="details-item">
      <span class="title">title</span>
      <span class="value">value</span>
    </p>
    <p class="details-item">
      <span class="title">title</span>
      <span class="value">value</span>
    </p>
    <p class="details-item">
      <span class="title">title</span>
      <span class="value">value</span>
    </p>

    <div class="rate">
      <img src="assets/icons/star.png" alt="icon">
      <span class="value">5</span>
      <span class="users">(11)</span>
    </div>

    <button class="add-btn">Add To Cart</button>
  </div>
</div>