<div class="home-container">
  <h2 class="page-title">Page Title</h2>
  <p class="thumbnail">link/link/link</p>

  <div class="container">

    <div class="categories">
      <ul class="cat-list">
        <li class="cat-item">item</li>
        <li class="cat-item">item</li>
        <li class="cat-item">item</li>
        <li class="cat-item">item</li>
        <li class="cat-item">item</li>
      </ul>
    </div>

    <div class="products">
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
    </div>
  </div>
</div>